<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de autores</title>
</head>
<body>
    <h1>Autores registrados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nacionalidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
                <tr>
                    <td>{{ autor.id }}</td>
                    <td>{{ autor.name }}</td>
                    <td>{{ autor.nacionality }}</td>
                    <td>
                        <a href="{% url 'biblioteca_app:lista_libros' autor.id %}">Ver libros</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>